extends base

block content
    div#videoContainer(data-id=video._id, style="text-align:center;")
        video(src=video.fileUrl)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn 
                    i.fas.fa-play 
                div.videoControls__time
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range", step="0.1", value="0", min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range", step="0.1", value=0.5, min="0", max="1")#volume
                span#mute 
                    i.fas.fa-volume-up 
            div 
                span#fullScreen 
                    i.fas.fa-expand
                    
    div.video__data 
        p.video__title=video.title
        div(style="margin-top:-10px; margin-bottom:20px")
            span(style="font-size:12px") 조회수 #{video.meta.views}회
        details 
            summary(style="color:gray; margin-bottom:20px") Thumbnail
            img(src=video.thumbUrl style="width:20%; margin-bottom:20px")
        div(style="display: flex;").video__box
            div
                a(href=`/users/${video.owner._id}`)
                    div(style=`background-image:url(${video.owner.avatarUrl});background-size:cover;background-position:center;`).video__avatar
            div(style="margin: 10px 20px")
                div(style="margin-top:5px; margin-bottom: 5px")
                    span.video__owner 
                        a(href=`/users/${video.owner._id}`)=video.owner.name
                div(style="margin-bottom:10px")
                    span.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
                div 
                    span=video.description

        if String(video.owner._id) === String(loggedInUser._id)
            br
            a(href=`${video.id}/edit`) 영상 설명 수정하기 (업로더만 보임) &rarr;
            br
            //- a(href=`${video.id}/delete`) Delete Video &rarr;
    if loggedIn
        div.video__add-comments
            form.video__coment-form#commentForm
                textarea(cols="30", rows="5", placeholder="댓글 추가...")
                button Submit
    else 
        div(style="margin-bottom:50px")
            span 댓글을 입력하려면 로그인하세요

    div.video__comments
        ul 
            each comment in video.comments.reverse()
                li.video__comment(date-id=comment.id)
                    //- i.fas.fa-comment 
                    div(style="font-size:12px") 익명의 GSA
                    br
                    div #{comment.text}
                    br
                    span(style="font-size:12px")=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
                    //- span  ❌
    
block scripts
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js")